@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;

}

body {
    color: #2b2b2b;
    background-color: #fcfbff;
}
header {
    background:/* #fff;*/#ffffff;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid #e7eaed;
}

@media(max-width: 995px) {
   .header-desktop {
        display: none;
    }
    .header-mobile {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        min-height: 72px;
    }
    .header-mobile-icon {
        position: absolute;
        left: 24px;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header-mobile-icon i {
         font-size: 30px;
         color: #2b2b2b
      
    }
    .bi::before, [class*=" bi-"]::before, [class^=bi-]::before {
    display: inline-block;
    font-family:  "Inter", sans-serif;
    font-style: normal;
    font-weight: 700 !important;
}
}

@media(min-width: 996px) {
     nav, nav .header-desktop {
        max-width: 1022px;
        margin: 0 auto;
    }
    .header-mobile {
        display: none;
    }
    
    nav .header-desktop {
        width: 100%;
        min-height: 82px;
        padding: 16px;
        background: hsla(0, 0%, 100%, .8);
        display: flex;
        align-items: center;
    }
    .header-list{
        position: relative;
    }
    .header-list::after{
        content: "";
        background-color: #bebebe;
        width: 1px;
        height: 24px;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }
    
ol{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
ol, li {
        font-size: 14px;
        font-weight: 700;
        min-height: 41px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        line-height: 1.5rem;
        border-radius: 50px;
        padding: 6px 20px;
}

.header-list, li, a{
    text-decoration: none;
    list-style: none;
    color: #2b2b2b;
}

.btn-primary {
    background-color: #652bdf;
    color: #fff;
    border: 1px solid #fff;
    padding: 6px 22px;
    border-radius: 50px;
    text-decoration: none;
    list-style: none;

}
.btn-secundary {
    background-color: #fff;
    color: #652bdf;
    border: 1px solid #652bdf;
     padding: 6px 22px;
     border-radius: 50px;
     text-decoration: none;
    list-style: none;
}
.hover:hover {
    background-color: #e4d7ff;
    color: #360c72;
}

/* Main content desktop */
.main-content-desktop {
    max-width: 1022px;
    width: calc(100% - 48px);
    margin: 0 auto;
    position: relative;
    padding: 30px 0 0;
}
.main-hero img{
    width: 100%;
    border-radius: 16px;
    margin-bottom: 64px;
}
.main-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.main-section-content{
    width: 100%;
    display: grid;
    /* CLAVE: Dividir el contenedor en 3 columnas de ancho igual (1fr) */
    grid-template-columns: 1fr 1fr 1fr; 
    /* grid-template-columns: repeat(3, 1fr); /* Alternativa más limpia */
    
    gap: 16px; /* El gap de Grid maneja el espaciado interno perfectamente */
    
    /* Para centrar el bloque completo de 100% de ancho (opcional) */
    max-width: 1022px; /* Si quieres limitar el ancho como en el header */
    margin: 0 auto;
    margin: 0 auto;
    gap: 16px;
    margin-bottom: 32px;
}

.main-section-content-div{
    margin-top: 12px;
    background: #fff;
    border-radius: 16px;
    min-height: 184px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 24px;
    gap: 16px;
    box-sizing: border-box;
}
.card-text-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    box-sizing: border-box;
    grid-gap: 16px;
    gap: 16px;
}
.card-icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 19px;
    width: 62px;
    height: 62px;
    background: #f0eafc;
    border-radius: 8px;
    box-sizing: border-box;
}
.section-promotion{
    width: 100%;
    
}
.section-promotion-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(54, 12, 114);
    border-radius: 32px;
    max-width: 1022px;
    margin: 0 auto;
    padding: 32px 40px;
    color: #fff;
}

.promotion-div-uno{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.promotion-div-uno h2{
    font-weight: 600;
    font-size: 30px;
    line-height: 2rem;
    margin: 0;
    color: rgb(255, 255, 255);
}

.promotion-div-uno p {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.375rem;
}
.btn-terciary{
    color: #652bdf;
    background-color: #fff;
    padding: 10px 32px;
    min-width: 192px;
    min-height: 43px;
    font-size: 16px;
    line-height: 1.5rem;
    border: 1px solid #fff;
    border-radius: 50px;
    font-weight: 600;
}

}
